* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

a {
    text-decoration: none;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.category-unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.category-unstyled-list a {
    color: white;
}
/* Whole Section from Nav to Hero */
.main-section {
    background-color: rgb(255, 255, 255);
    background-image:url(img/hero-background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Navigation Bar */
.navbar {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 10vh;
}

.unstyled-home-text a {
    font-size: 2vh;
    color: rgb(180, 101, 101);
    padding: 1.824vh;
    margin: 1.824vh;
}

.unstyled-home-text a:hover {
    background-color: #f6f6f6;
}

.left-nav {
    display: flex;
    padding-right: 3.7%;
    align-items: center;
    margin-left: 1.824vh;
}

/* Dropdown List under 'SHOP' */
.dropdown button {
    background-color: white;
    color: rgba(190, 108, 108, 0.975);
    border: 0;
    font-size: 2vh;
    cursor: pointer;
    font-weight: bold;
    /* padding: 3.648vh; */
    padding: 1.824vh; 
    
    margin: 1.824vh;
}

.dropdown button:hover {
    background-color: #f6f6f6;

}

.dropdown span {
    transform: translateY(10%);
    align-items: center;
    z-index: 1;
    padding: 0;
    font-size: 1.824vh;
}


.dropdown {
    display: inline-block;
    position: relative;
}


.dropdown a {
    color: rgb(180, 101, 101);
    padding: 2vh 5vh 2vh 2vh;
}

.dropdown-list {
    display: none;
    position: absolute;
    z-index: 1;
    max-width: max-content;
    width: inherit;
    /* padding-right: 1.824vh; */
    overflow: auto;
}

.dropdown-list a {
    text-decoration: none;
    display: block;
}

.dropdown-list a:hover {
    background-color: rgb(223, 206, 206);
}

.dropdown:hover .dropdown-list {
    display: block;
    background-color: rgb(255, 255, 255);
}

/* LOGO at the top*/
.img-logo img {
    height: 10vh;
    width: auto;
    margin-left: 100%;
}


.search-icon {
    color: rgb(180, 101, 101);
}

.search {
    --padding: 12px;


    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 21px;
    background-color: #f6f6f6;
}

.search-input {

    font-size: 18px;
    color: rgb(180, 101, 101);
    margin-left: var(--padding);
    outline: none;
    border: none;
    background-color: transparent;
}


/* Right Part of the Navigation */
.right-nav {
    display: flex;
    align-items: center;
    margin-right: 1.824vh;
}


.right-nav ul {
    display: flex;
}

.unstyled-list-nav-right {
    padding-left: 0;
    list-style-type: none;
}

.unstyled-list-nav-right a {
    color: rgb(180, 101, 101);
    padding: 2vh 2vh 2vh 2vh;
    margin: 1.824vh;
    padding: 1.824vh;
    font-size: 2vh;
}

.unstyled-list-nav-right a:hover {
    background-color: #f6f6f6;

}

/* Body Part */
.hero {
    height: 60vh;
}

.hero-container {
    text-align: center;
    padding: 15vh 5vh 5vh 5vh;
}

/* Footer */

footer .footer-content {
    display: flex;
    flex: auto;
    padding-bottom: 5%;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(187, 189, 189, 0.575) ;
    height: 30vh;
}

.brand-info {
    padding-left: 4%
}

.product-category {
    padding-right: 5%;
}

.product-category li {
    color: white;
}

