@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

a {
    text-decoration: none;

}

body {
    margin: 0;
    padding: 0;
    min-width: 100vh;
    min-height: 100vh;
}

/* Whole Section from Nav to Hero */
.main-section {
    background-color: rgb(255, 255, 255);
    
}
/* Navigation Bar */
.navbar {
    display: flex;
    flex: auto;
    height: 10%;
    width: 100%;
    /* min-width: max-content; */
    padding: 0 12vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: .2vh solid #c6c3c3;
}

.unstyled-home-text a {
    font-size: 2vh;
    color: rgb(180, 101, 101);
    padding: 1.824vh;
    margin: 1.824vh;
}

.unstyled-home-text a:hover {
    background-color: #f6f6f6;
}

.left-nav {
    display: flex;
    align-items: center;
    margin-left: 1.824vh;
}

/* Dropdown List under 'SHOP' */
.dropdown button {
    padding: 1.824vh;    
    margin: 1.824vh;
    border: 0;
    background-color: white;
    color: rgba(190, 108, 108, 0.975);
    font-weight: bold;
    font-size: 2vh;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: #f6f6f6;
}

.dropdown span {
    transform: translateY(10%);
    align-items: center;
    z-index: 1;
    padding: 0;
    font-size: 1.824vh;
}


.dropdown {
    display: inline-block;
    position: relative;
}


.dropdown a {
    color: rgb(180, 101, 101);
    padding: 2vh 5vh 2vh 2vh;
}

.dropdown-list {
    display: none;
    position: absolute;
    overflow: auto;
    max-width: max-content;
    width: inherit;
    background-color: #ffffff;
    z-index: 1;
}

.dropdown-list a {
    text-decoration: none;
    display: block;
}

.dropdown-list a:hover {
    background-color: rgb(242, 242, 242);
}

.show {
    display: block;
}

/* LOGO at the top*/
.img-logo img {
    height: 10vh;
    width: fit-content;
}

.search-icon {
    color: rgb(180, 101, 101);
    font-size: 21px;
}

.search {
    --padding: 12px;

    display: flex;
    align-items: center;
    width: max-content;
    padding: var(--padding);
    border-radius: 21px;
    background-color: #f6f6f6;
}

.search-input {
    font-size: 1.8vh;
    color: rgb(180, 101, 101);
    margin-left: var(--padding);
    outline: none;
    border: none;
    background-color: transparent;
}


/* Right Part of the Navigation */
.right-nav {
    display: flex;
    align-items: center;
    margin-right: 1.824vh;
}

.shopping-cart-icon {
    color: rgb(180, 101, 101);
    padding: 1.824vh;
    margin: 0.912vh;
    font-size: 2vh;
}

.person-icon {
    color: rgb(180, 101, 101);
    padding: 1.824vh;
    margin: 0.912vh;
}

.right-nav .shopping-cart-icon, .right-nav .person-icon {
    font-size: 3vh;
}


.right-nav span:hover {
    background-color: #f6f6f6;
}

/* Body Part */
.hero {
    background-image:url(img/Home.png);
    background-position-y: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding-left: 15vh;
    padding-right: 15vh;
    padding-top:16vh;
    padding-bottom: 38vh;
    width: 100%;
    height: 50%;
    min-width: max-content;
    color: #1e1c1c;
}


.hero-container p{
    text-align: center;
    padding: 0%;

}

.hero-subheading {
    font-weight: 500;
}

.hero-container h1 {
    /* font-family: 'Inter',serif; */
    font-weight: bold;
    font-size: 6vh;
    margin: 1vh 1vh 1vh 0vh;
}

.hero a {
    font-size: 1.4vh;
    font-weight: 500;
    text-decoration: none;
    padding: 1.2vh;
    margin: 5vh 0;
    border-radius: 2vh;
    color: white;
    background-color:rgba(180, 101, 101, 1);
}

.hero a:hover {
    background-color:rgb(179, 114, 114);
}

footer {
    border-top: .2vh solid #c6c3c3;
    padding: 1vh 14vh;
    height: 20%;
}

.footer-content {
    display: flex;
    justify-content: stretch;
}

.footer-content h4 {
    margin-bottom: 1vh;
    margin-top: 1vh;
    text-align: left;
    color: #302d2d;
}

.footer-content p {
    margin: 0;
}

.category-list {
    padding:0%;
    margin: 0;
}

.category-list li {
    display: inline;
    list-style: none;
    float: initial;
    font-size: 13px;
}

.category-list a {
    color:rgba(180, 101, 101, 0.849);
    font-weight: 500;
    padding-right: 2vh;
}

.social-media-icon-list {
    padding-left: 0;
    margin-top: 0;
}

.social-media-icon-list li {
    display: inline;
    list-style: none;

}

.fb-icon, .ig-icon, .x-icon, .shopee-icon {
    fill:rgb(180, 101, 101)
}

.contact-info p{
    color: rgb(180, 101, 101);  
    font-weight: 500;
    font-size: 13px;
}

.log-in-form-container {
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 70vh;
}

.log-in-form-container h1 {
    font-size: 6vh;
    margin-bottom: 5vh;
}

input[type="text"], input[type="password"] {
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    border: .1vh solid #c4c4c4;
    margin-bottom: 1vh;
    padding: 1vh;
    box-sizing: border-box;
    font-size: 2vh;
}

.log-in-form-container p {
    margin: 0%;
    margin-bottom: 6vh;

}

.log-in-form-container a {
    color: rgb(0, 0, 0);
    font-size: 1.8vh;
    font-weight: 400;
    text-decoration: underline;
}

.submit-login-btn {
    display: block;
    margin: auto;
    background-color: rgba(180, 101, 101, 0.849);
    color: white;
    border: none;
    padding: 1.2vh 3vh;
    font-size: 2vh;
    cursor: pointer;
}

.log-in-form-container p:last-child {
    text-align: center;
    margin: .5vh 0;
}

.log-in-form-container p:last-child a:last-child {
    font-size: 1.8vh;
    color: black;
}